/* Alap stílusok */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Rowdies', sans-serif;
    margin: 0;
    padding: 0;
    background: #1a1a1a url('background-image-url') no-repeat fixed center/cover; /* Sötét szürke háttér és háttérkép beállítás */
    color: #e0e0e0; /* Világos szürke szöveg */
}

h1 {
    text-align: center;
    color: #fff; /* Fehér cím */
    margin-top: 50px; /* Felső margó */
}

/* Lábléc stílusok */
footer {
    background: #121212; /* Sötét háttérszín */
    color: #e0e0e0; /* Világos szöveg szín */
    padding: 40px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #333; /* Finom határvonal a tetején */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-link {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    display: inline-block;
}

.footer-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #4CAF50;
    transition: width 0.3s ease;
}

.footer-link:hover::after {
    width: 100%;
}

.footer-info p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.5;
}

#update-date {
    color: #bfbfbf;
}

#current-year {
    font-weight: bold;
}

/* Kreatív háttér animáció */
footer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 30%, transparent 70%);
    transform: translate(-50%, -50%);
    z-index: 0;
    animation: pulse 12s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
        transform: scale(0.95);
    }
    50% {
        opacity: 0.3;
        transform: scale(1.05);
    }
    100% {
        opacity: 0.1;
        transform: scale(0.95);
    }
}

/* Reszponzív dizájn */
@media (max-width: 768px) {
    .footer-link {
        font-size: 16px;
        margin: 0 10px;
    }

    .footer-info p {
        font-size: 12px;
    }
}

.container {
    max-width: 1320px;
    margin: 50px auto; /* Felső és alsó margó */
    padding: 25px;
    background: #2b2b2b; /* Még sötétebb szürke háttér */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.game {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    background: #333; /* Sötétszürke háttér */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 0.9s forwards;
}

.game img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease;
    animation: zoomIn 2.1s forwards;
}

.game:nth-child(odd) {
    background: #3d3d3d; /* Kissé világosabb szürke */
}

.game:hover {
    background: #4a4a4a; /* Még világosabb szürke */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.game-details {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85); /* Fekete átlátszó háttér */
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    border-radius: 0 0 10px 10px;
}

.game:hover .game-details {
    transform: translateY(0);
}

.game-details h3 {
    margin-top: 0;
    color: #fff; /* Fehér szöveg */
}

.in-progress {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 40px;
    right: -15px;
    transform: rotate(45deg);
    background: #000;
    padding: 8px;
    border-radius: 10px;
    z-index: 0;
}

.categories .category {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    font-family: Calibri, sans-serif;
    display: inline-block;
    margin-right: 5px;
}


.release-date,
.finish-date,
.play-time {
    margin-top: 10px;
    font-size: 15px;
    color: #bfbfbf; /* Világos szürke */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    opacity: 0;
}

.modal-content {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-show {
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4CAF50;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.waitLoadFully {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

@keyframes zoomIn {
    from { transform: scale(1.2); }
    to { transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}
